    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Open Sans';
    }

    body {
        background-color: #5D4037; 
    }


    .navbar {

        background: #5D4037;   
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        width: 100%;
        position: sticky; 
        top: 0;
        z-index: 999; 
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
    
    .totalnav {

        display: relative;
        width: 100%;
        
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 65px;
        z-index: 1;
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
    } 

    .loginsect {
        background-color: #5D4037;
        height: 20px;
        display: flex;
        align-items: flex-end;
        flex-direction: row-reverse;
        padding-right: 30px;
        margin: -10px 0 10px 0;
    }

    .login-link {
        text-decoration: none;
        color: #fafafa;
        transition: all;
        margin-top: -20px;
        transition: all 0.3s ease;
        margin-left: 20px;
    }

    .login-link:hover {
        color: #969E7D;
    }

    #navbar-logo {

        color: #ffe88c;  
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        padding-right: 80px;
        
        font-size: 75px;
        
        margin: -22px 0 0 150px;

    }  

   

    #navbar-logo:hover {
        animation: shake 0.5s;
    }

    @keyframes shake {

        0% { transform: translate(1px, 1px) rotate(-1deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }

    }

    .navbar-menu {

        display: flex;
        align-items: center;
        gap: 40px;
        list-style: none;
        text-align: center;
        padding-left: 100px;
        margin-right: 80px;

    }

    .navbar-item {
        font-size: 30px;
    }

    .navbar-link-container a {

        text-decoration: none;
        color: #ffe88c;
        transition: all 0.3s ease;
        margin-left: 15px;

    }

    .navbar-link-container a:hover {

    
        color: #6c893b;
        border: 4px solid #6c893b;
        border-radius: 10px;


    }

    #homelink a:hover {
        padding: 12px 35px 12px 35px;
    }

    #reslink a:hover {  
        padding: 12px;
    }

    #desclink a:hover {
        padding: 12px 20px 12px 20px;
    }

    .popup-menu {

        display: none;
        position: absolute;
        background-color: #969E7D;
        width: 240px;
        overflow: scroll;
        padding: 10px;
        border-radius: 2px; 
        list-style: none;
        text-decoration: none;
        z-index: 999;


    }


    /* .popup-menu-container {

        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        gap: 30px;
        padding-top: 35px;
        
    } */

    .navbar-link a {

        color: #fafaf8;
        text-decoration: none;
        transition: all 0.3s ease;
        border-radius: 3px;
        width: 50px;

    }

    .navbar-link:hover {

        color: #5D4037;
        background: #5D4037;

        border-radius: 3px;
    

        transition: all 0.3s ease;
        
    }

    #popup-nav-mobile {
        display: none;
    }

    footer {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #5D4037;
        height: 150px;
        padding: 20px 50px;
        flex-direction: column;

    }

    footer .social-links,
    footer .menu {

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px 0;
        flex-wrap: wrap;

    }

    footer .social-links li, 
    footer .menu li {

      list-style: none;
      
    }

    footer .social-links li a {

      font-size: 2em;
      margin: 10px 20px;
      display: inline-block;
      transition: 0.3s;
      overflow: visible;
      color: #fafafa;

    }

    .social-links img {
        height: 40px;
    }

    footer .social-links a:hover {
        animation: shake 0.7s;
    }

    .social-links {
        padding: 20px 20px 0px 20px;
    }

    footer .menu li a {
       
        font-size: 20px;
        margin: 0px 10px 10px 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.3s;
        color: #fafaf8;
    }

    footer .menu li a:hover {
        opacity: 1;
        color: #6c893b;
    }




@media screen and (max-width: 980px) {

    .popup-menu {
        display: none;
    }

    .navbar-link-container {
        display: none;
    }

    #navbar-logo {
        margin-left: 60px;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 999;
        width: 100%;
        /* max-width: 1300px; */
        padding: 0;
        z-index: 999;
    }

    .nav-button {
        display: none;
    }  

    #popup-nav-mobile {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        max-width: 960px;
        z-index: 999;
        background-color: #363636;
        overflow-y: scroll;
        overflow-x: hidden;
        transition: height 0.3s ease, padding 0.3s ease;
    }

    .mobile-link {
        width: 400px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px; 
        margin-bottom: 35px;
        text-align: center;
        border: 4px solid #5D4037;
        background-color: #5D4037;
        border-radius: 4px;
        transition: all 0.3s ease;
    }

    .mobile-list {
        list-style-type: none;
        transition: display 0.3s ease;
    }

    .mobile-list a {
        color: #fafaf8;
        height: 30px;
        font-size: 2.0em;
        text-decoration: none;
        
        transition: all 0.3s ease;
    }

    .mobile-link:hover {
        color: #6c893b;
        background: #6c893b;
        border-radius: 4px;
        border: 2px solid #6c893b;
    }


    
    .navbar__toggle  {
        height: 60px;
        width: 60px;
        border: 4px solid #ffe88c;
        transition: border 0.3s ease-in-out;
        display: block;
        position: absolute;
        border-radius: 2px;
        top: 26%;
        right: 13%;
        transform: translate(5%, 10%);
        z-index: 999;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    
    }

    .navbar__toggle .bar {
        width: 40px;
        height: 6px; 
        border-radius: 2px;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
        background: #ffe88c;
        color: #ffe88c;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(14px) rotate(-45deg);
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-14px) rotate(45deg);
    }
   
} 

@media screen and (max-width: 400px) {


    #popup-nav-mobile {
        
        width: 390px;
       
    }


    #navbar__logo {

        margin-left: 30px;

    }

    footer .menu li a {
        font-size: 15px;
    }

    footer .social-links li a {

        font-size: 1.5em;
        margin: 10px 10px;
        display: inline-block;
        transition: 0.3s;
        overflow: visible;
        color: #fafafa;
  
      }


}
